/*Primary text color #212121 */
/*Secondary text color #757575 */
/*background color #FFFFFF */
/*accent color #2196F3 */
/*secondary background color #F5F4FA*/

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 1px solid tomato;*/
}

.section {
  padding: 94px 0px;
}

/*Site navigation*/

.list,
.header-contacts {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-logo {
  color: #000000;

  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);

  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-nav {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item,
.contacts-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  margin-left: auto;
}

.header-tel {
  color: var(--text-color);
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header .container {
  display: flex;
  align-items: center;
}

.active-page {
  color: var(--accent-color);
}

/*Hero*/

.hero {
  background-color: #2f303a;

  text-align: center;
  padding: 200px 0;
}

.primary-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.order-button {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
  background: #188ce8;
}

/*Benefits*/

.benefits {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*What we do*/

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  margin: 0 auto 50px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}

.works-item {
  flex-basis: calc((100% - 60px) / 3);
}

/*Team*/

.team {
  background-color: #f5f4fa;

  display: flex;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}

.team-item {
  background: #ffffff;

  text-align: center;

  border: none;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  flex-basis: calc((100% - 90px) / 4);
}

.team-descr {
  padding: 30px 0px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*Footer*/
.border {
  border-bottom: 1px solid #ececec;
}

.footer {
  background-color: #2f303a;

  padding: 60px 0;
}

.footer-logo,
.address,
.footer-tel {
  text-decoration: none;
  font-style: normal;
}

.footer-logo {
  color: var(--primary-white-color);

  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 20px;
}

.address,
.footer-tel {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

/*--------------------------PORTFOLIO PAGE--------------------------*/

/*Filter*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  color: var(--primary-text-color);
  background: #f5f4fa;

  font-family: 'Roboto', Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
}

/*Portfolio*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  background: #ffffff;

  box-sizing: border-box;
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
  text-decoration: none;
  font-style: normal;
}

.portfolio-descr {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-header {
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
